.App {
  text-align: center;
  min-width: 350px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html, body, #root, .App {
  height: 100%
}
.App > div {
  min-height: 100%;
  height: fit-content;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  margin-right: 5%;
  width: 50px;
}

.size-form {
  width: 270px;
}

.fit-content {
  width: fit-content;
}

.link {
  text-decoration: none !important;
  color: #000000E6
}

.boards-carousel {
  width: 330px;
  color: black;
}

.form-check-input:checked {
  background-color: #7c7676 !important;
  border-color: #7c7676 !important;
}

.form-check-input:focus {
  box-shadow: none !important;
}

.Card:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px lightblue;
}

.Card {
  width: 330px;
}

.dark {
  background: grey;
  color: white;
}

.error-msg {
  color: #b61212;
}

.no-border {
  border: none;
  background: none;
  padding: 0;
}